<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg" />
    <link rel="stylesheet" href="css/web.css" />
    <title>Triple R Revolution</title>
  </head>
  <body>
    <h1>Login Authentication System in Flask.</h1>
    <header class="d-flex justify-content-spacebtn align-item-center">
      <div class="h_left d-flex justify-content-spacebtn">
        <a href="#home"><img src="images/logo.jpg" alt="logo" /></a>
        <a href="#">Home</a>
        <a href="#">For you</a>
        <a href="#about_us">About Us</a>
      </div>
      <div class="h_right d-flex justify-content-spacebtn">
        <a href="{{url_for('login')}}">Login Page</a>
        <a href="{{url_for('signup')}}">signup Page</a>
      </div>
    </header>
    <section>
      <div class="main d-flex align-item-center">
        <p>SAVE THE WORLD</p>
        <h1>REUSE, REDUCE & RECYCLE.</h1>
        <button>GET STARTED &#8594;</button>
      </div>
      <div id="about_us" class="about_div">
        <div class="about_image"><img src="images/Triple.png" alt="" /></div>
        <div class="about">
          As poor waste management tears through our current ecosystem there
          have been many efforts to mitigate its spread and impact; from
          sensitizing images of places stricking with its effects to solutions
          to replace harmful processes that contribute to its spread. However,
          to no avail all have proved unsustainable from the social
          responsibility aspect. Due to the structure of these solutions they
          have a strong rejection factor on peoples everyday activities as they
          are preoccupied with other tasks during the day, the topic of waste
          management or sustainable practices never crosses their mind, this is
          especially for the lives of common people who might never face such
          effects of it or be aware to its existence. The key note in this
          problem is seen in the synchronization of this solution into peoples
          everyday lives; and The Triple R Revolution aims to solve this by
          fitting into a solution that involves interaction with the basic part
          of everyone's lives, the social aspect; and in particular a social
          media platform that encourages the tenets of a sustainable world
          REUSE, REDUCE RECYCLE.
        </div>
      </div>
    </section>
  </body>
  <footer>
    <span>
      <p>contact us:</p>
      <div>
        Email: triple.r.revolution@gmail.com <br />
        Tel: +267849372638 <br />
      </div>
    </span>
  </footer>
</html>